{% extends 'customer\layouts\base.html' %}
{% load static %}
{% block title %}Contact Us{% endblock title %}
{% block content %}
    
    <!-- Page wrapper for sticky footer -->
    <!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
    <main class="page-wrapper">

        <!-- START Navbar -->
        {% include 'customer\layouts\navbar.html' %}
        <!-- END Navbar -->

        <nav class="bg-secondary mb-3" aria-label="breadcrumb">
            <div class="container">
            <ol class="breadcrumb breadcrumb-alt mb-0">
                <li class="breadcrumb-item">
                <a href="index.html"><i class="ci-home"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Inquiry</li>
            </ol>
            </div>
        </nav>


        <!-- Page container -->
        <section class="container pt-3 pt-lg-4 pb-5 pb-lg-6">
        <div class="row pb-2 pb-lg-0">

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                    <span class="fw-bold">{{message}}</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
            {% comment %} <div class="col-lg-6 mx-auto my-auto" style="background-image: url({% static 'customer\img\ecommerce\inquiry_img.svg' %}); background-repeat: no-repeat; height:700px;"></div> {% endcomment %}
            
            
            <!-- Content -->
            <div class="col-lg-8 mx-auto my-auto">
                    

                    <h2 class="mb-5 text-center">Inquiry</h2>

 
                        <form action="" method="POST">
                            {% csrf_token %}
                            
                            <div class="row">
                                <div class="col-sm-6 mb-4">
                                    <label class="form-label-lg">Name</label>
                                    <input type="text" name="cutomername" id="name" value="" class="form-control form-control-lg" placeholder="Name" >
                                   
                                        <span class="fs-sm text-danger"></span>
                              
                                </div>

                                <div class="col-sm-6 mb-4">
                                    <label for="cont-email" class="form-label-lg">Email</label>
                                    <input type="email" name="email" id="email" value="" class="form-control form-control-lg" placeholder="johndoe@example.com" >
                                   
                                        <span class="fs-sm text-danger"></span>
                               
                                </div>
                            </div>

                                <div class="col-sm-12 mb-4">
                                    <label for="cont-subject" class="form-label-lg">Subject</label>
                                    <input type="text" name="subject" id="subject" value="" class="form-control form-control-lg" placeholder="subject" >
                             
                                        <span class="fs-sm text-danger"></span>
                                    
                                </div>

                                <div class="col-12 mb-4">
                                    <label for="cont-message" class="form-label-lg">Message</label>
                                    <textarea name="message" class="form-control form-control-lg" id="" cols="30" rows="6">
                                    </textarea>
                                        <span class="fs-sm text-danger"></span>

                                </div>

                                <div class="col-lg-4 col-sm-5 pt-2">
                                    <button type="submit" class="btn btn-primary btn-lg d-block w-100">Send message</button>
                                </div>

                            
                        </form>
                    
                    
                
            </div>
        </div>
        </section>


</main>


{% endblock content %}
